/* Colors */
$red: #ef476f;
$yellow: #ffd166;
$green: #06d6a0;
$lightblue: #118ab2;
$darkblue: #073b4c;
$shadow: rgba(0,0,0,.1);

$nav-height: 64px;

$breakpoint-tablet: 768px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Spectral&display=swap');

body {
    font-family: 'Spectral', serif;
    font-weight: 400;
    background: white;
    color: $darkblue;
    padding: 0;
    margin: 0;

    a {
        color: $green;
        text-decoration: underline;
    }
}

.spectral {
    font-family: 'Spectral', serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}

input, button {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}

/*** Transitions ***/

// transition name=slide-fade
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

// transition name=fade
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}