/* Colors */
$red: #ef476f;
$yellow: #ffd166;
$green: #00cc99;
$gray: #c4c3d0;
$darkblue: #073b4c;
$shadow: rgba(0,0,0,.1);
$offwhite: #f2f3f4;

$nav-height: 64px;

$breakpoint-tablet: 768px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: $offwhite;
    color: $darkblue;
    padding: 0;
    margin: 0;
    letter-spacing: 0.025rem;

    h1, h2, h3, h4 {
        margin-bottom: .25rem;
    }

    a {
        color: $green;
        text-decoration: underline;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    p, .readable {
        line-height: 1.7;
        letter-spacing: 0.035em;
    }

    pre {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin: 0;
        white-space: pre-wrap;
    }
}

.spectral {
    font-family: 'Open Sans', serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}

input, button {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}

/*** Transitions ***/

// transition name=slide-fade
.slide-fade-enter-active {
    transition: all .25s ease;
}
.slide-fade-leave-active {
    transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

// transition name=fade
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}